:root {
  --text-color: #757575;
  --title-color: #212121;
  --highlight-color: #2196f3;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-family: Roboto;
}

/* Logo */
.logo {
  color: none;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-web {
  color: var(--highlight-color);
  margin-right: -6px;
}
.logo-studio {
  color: var(--title-color);
}
/* Header links */
/* .nav-list {
  list-style: none;
} */
.nav-link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  list-style: none;
  text-decoration: none;
  color: #212121;
  background: transparent;
  cursor: pointer;
}
.nav-link:hover,
:focus,
:active {
  color: var(--highlight-color);
}
.current {
  color: var(--highlight-color);
}
.contact-list,
.contact-mail,
.contact-phone {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--text-color);
  text-decoration: none;
}
.contact-mail:hover,
:focus,
:active {
  color: var(--highlight-color);
}
.contact-phone:hover,
:focus,
:active {
  color: var(--highlight-color);
}

/* HERO */
.hero-title {
  font-family: inherit;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--title-color);
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: var(--highlight-color);
  border: #2196f3;
  cursor: pointer;
}
.button:active,
:hover,
:focus {
  background-color: #f5f4fa;
  color: var(--title-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-portfolio {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62px;
  text-align: center;
  width: auto;
  height: 38px;
  gap: 0px;
  border: #757575;
  border-radius: 4px;
  color: var(--title-color);
  cursor: pointer;
}

.btn-portfolio:hover,
:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* Section */
.section-title {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--title-color);
  list-style: none;
}

.section-text {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--text-color);
}

.our-team-title {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  background-color: none;
}

.our-team-text {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* FOOTER */
.footer {
  background-color: #2f303a;
  display: block;
  font-style: inherit;
}
.logo-footer {
  background-color: #2f303a;
  text-decoration: none;
  background-color: none;
}
.logo-studio-footer {
  color: #ffffff;
  background-color: #2f303a;
}
.logo-web-footer {
  background-color: #2f303a;
}
.address {
  font-style: normal;
}
.address-street {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
  text-decoration: solid;
}
.contact-list-footer,
.contact-mail-footer,
.contact-phone-footer {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  display: block;
  color: var(--text-color);
  text-decoration: none;
  background-color: #2f303a;
}
.contact-mail-footer:hover,
:focus,
:active {
  color: var(--highlight-color);
}
.contact-phone-footer:hover,
:focus,
:active {
  color: var(--highlight-color);
}
